---
title: Dialog
headerType: compressed
componentName: akyral-dialog
components: { name: dialog }

---

<h2>[ Dialog ]  <span>Configuration</span></h2>

<section class="section">
    <p>
        You can configure a dialog by setting the type, position and pinned with the toggles below.
        Clicking on the <span class="icon-lab">show dialog</span> button will display the current configuration. The current
        configuration can be reviewed <a href="#review">here</a>.
    </p>
    <h3>Type</h3>
    <div class="dialog__type">
        <core-selector data-attribute="type" selected="0" selectedClass="button__config--selected">
            <button class="button__config" data-type="takeover">takeover</button>
            <button class="button__config" data-type="lift">lift</button>
            <button class="button__config" data-type="drop">drop</button>
            <button class="button__config" data-type="flip">flip</button>
            <button class="button__config" data-type="slide">slide</button>
            <button class="button__config" data-type="swing">swing</button>
        </core-selector>
    </div>
</section>

<section class="section">
    <h3>Position</h3>
    <p>
        Setting a position will set the visual effect's starting position.
    </p>
    <button class="button__preview icon-lab">show dialog</button>
    <div class="dialog__position">
        <core-selector data-attribute="position" notap="true" selectedClass="button__config--selected">
            <button class="button__config" data-position="top">top</button>
            <button class="button__config" data-position="left">left</button>
            <button class="button__config" data-position="bottom">bottom</button>
            <button class="button__config" data-position="right">right</button>
        </core-selector>
    </div>
</section>

<section class="section">
    <h3>Pinned</h3>
    <p>
        Setting the pinned attribute will pin the element to that side on the viewport.
        This will override the position attribute.
    </p>
    <button class="button__preview icon-lab">show dialog</button>
    <div class="dialog__pinned">
        <core-selector data-attribute="pinned" notap="true" selectedClass="button__config--selected">
            <button class="button__config" data-pinned="top">top</button>
            <button class="button__config" data-pinned="left">left</button>
            <button class="button__config" data-pinned="bottom">bottom</button>
            <button class="button__config" data-pinned="right">right</button>
        </core-selector>
    </div>
</section>

<a name="review"></a>
<section class="section__review">
    <h3>Config Review</h3>
    <demo-configuration type="takeover"></demo-configuration>
    <button class="button__preview icon-lab">show dialog</button>
</section>

{{> install}}


<section class="section__gotchas">
    <h3 class="icon-chat">Helpful Gotchas</h3>
    <p>
        <b>{{componentName}}</b> should be placed immediately inside the body tag, this will allow
        to fully fit the viewport.
    </p>
</section>

<a name="styling"></a>
<section class="section">
    <h3>Styling</h3>
    TBD
</section>

<a name="documentation"></a>
<akyral-docs component="assets/components/{{componentName}}/{{componentName}}.html"></akyral-docs>

<polymer-element name="demo-dialog-content">
  <template>
      <style>
          :host {
              display: block;
          }
      </style>
     <h3>Heres some lorem lipsum for you</h3>
    <p>
        Magna dolore aliqua qui aliquip fugiat nostrud sunt duis veniam ipsum reprehenderit est non incididunt.
    </p>
    <button id="button" name="button">close dialog</button>
  </template>
  <script>
    Polymer('demo-dialog-content', {
        ready: function(){
            var _this = this;

            this.$.button.addEventListener('click', function(){
                _this.fire('demo-close');
            });
        }
    });
  </script>
</polymer-element>


<polymer-element name="demo-configuration" attributes="type position pinned">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        This page is currently configured containing a <code>\{{type}}</code> dialog&nbsp;

        <template if="\{{type === 'takeover'}}">
            . This type does not support position or pinned configuration.
        </template>

        <template if="\{{type !== 'takeover'}}">
            <template if="\{{!position && !pinned}}">
                without a position
            </template>
            <template if="\{{position !== null}}">
                with a postion of <code>\{{position}}</code>
            </template>


            <template if="\{{pinned !== null}}">
                with a pinned of <code>\{{pinned}}</code>
            </template>

            <template if="\{{type !== 'swing' && type !== 'slide'}}">
                . This type does not support pinned configuration
            </template>

            <template if="\{{type === 'swing' || type === 'slide'}}">
                <template if="\{{!pinned && !position}}">
                    &nbsp;or a pinned configuration
                </template>
            </template>
            .
        </template>

    </template>
    <script>
        Polymer('demo-configuration', {
            position: null,
            pinned: null
        });
    </script>
</polymer-element>

<script charset="utf-8">
    (function() {
        var el = document.createElement('akyral-dialog'),
            demoDialog = document.createElement('demo-dialog-content'),
            demoConfig = document.querySelector('demo-configuration'),
            typeSelector = document.querySelector('core-selector[data-attribute="type"]'),
            positionSelector = document.querySelector('core-selector[data-attribute="position"]'),
            pinnedSelector = document.querySelector('core-selector[data-attribute="pinned"]');


        function setType(){
            var val = this.querySelectorAll('button')[this.selected].getAttribute('data-type');

            el.setAttribute('type', val);
            demoConfig.setAttribute('type', val);

            ga('send', 'event', 'akyral-dialog', 'set type', val);

            if(val === 'takeover'){
                positionSelector.selected = null;
                positionSelector.setAttribute('notap', true);
                pinnedSelector.selected = null;
                pinnedSelector.setAttribute('notap', true);
                el.removeAttribute('position');
                el.removeAttribute('pinned');
                return;
            }

            positionSelector.removeAttribute('notap');

            if(val === 'swing' || val === 'slide'){
                pinnedSelector.removeAttribute('notap');
                return;
            }

            pinnedSelector.setAttribute('notap', true);
            el.removeAttribute('pinned');
        }

        function setPosition(){
            var val = this.querySelectorAll('button')[this.selected].getAttribute('data-position');
            ga('send', 'event', 'akyral-dialog', 'set position', val);
            el.setAttribute('position', val);
            el.removeAttribute('pinned');
            demoConfig.setAttribute('position', val);
            demoConfig.removeAttribute('pinned');
            pinnedSelector.selected = null;
        }

        function setPinned(){
            var val = this.querySelectorAll('button')[this.selected].getAttribute('data-pinned');
            ga('send', 'event', 'akyral-dialog', 'set pinned', val);
            el.setAttribute('pinned', val);
            el.removeAttribute('position');
            demoConfig.setAttribute('pinned', val);
            demoConfig.removeAttribute('position');
            positionSelector.selected = null;
        }

        typeSelector.addEventListener('core-activate', setType);
        positionSelector.addEventListener('core-activate', setPosition);
        pinnedSelector.addEventListener('core-activate', setPinned);

        [].forEach.call(document.querySelectorAll('button[name="dialog"]'),function(button){
            button.addEventListener('click', function(){
                ga('send', 'event', 'akyral-dialog', 'open dialog');
                el.toggle();
            });
        });

        el.setAttribute('type', 'takeover');
        el.appendChild(demoDialog);
        el.addEventListener('demo-close', function(){
            ga('send', 'event', 'akyral-dialog', 'close dialog');
            el.close();
        });
        document.body.appendChild(el);

    }());
</script>
