<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}} | {{site.title}}</title>
    {{> meta }}
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{assets}}/styles/akyral.css">
    <script src="{{assets}}/components/platform/platform.js"></script>
    <link rel="import" href="{{assets}}/components/ui-layout/ui-layout.html">
    <link rel="import" href="{{assets}}/components/core-component-page/core-component-page.html">
    <link rel="import" href="{{assets}}/components/akyral-docs/akyral-docs.html">
</head>

<body>
    {{> body }}
    <script src="{{assets}}/scripts/akyral.js"></script>
</body>

</html>
